sandbox/node_modules
sandbox/build
sandbox/.env

web/.DS_Store
web/node_modules
web/build
web/.svelte-kit
web/package
web/.env
web/.env.*
web/!.env.example
web/vite.config.js.timestamp-*
web/vite.config.ts.timestamp-*
web/temp
web/db

shared/submissionRunner/node_modules
shared/submissionRunner/build

shared/extensionWeb/node_modules
shared/extensionWeb/build